{% extends 'masterpage.html' %}
{% load static %}
{% block content %}

<header>
    <h2 class="logo">ProComputers</h2>
    <input type="checkbox" id="check" hidden="true">
    <label for="check" class="mostrar">
    </label>
    <nav class="menu">
        <a href="/">ProComputers </a>
        <a href="/empleados/">Empleados </a>
        <a href="/contacts/">Contacto </a>
        <label for="check" class="esconder">
        </label>
    </nav>
    </header>


     <main id="ubicacion">

        <h1>Dónde nos encontramos</h1> <br>
        <h4> <a class="fas fa-map-marker-alt"> </a> Av. Siempre Viva 724, Springfield </h4>  <br>
        <h4>   </h4>
        
        <div class="c">
         <!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6347.259845820169!2d-59.12328853068848!3d-37.30390387869456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1697738654064!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.917693452375!2d-93.28551492352078!3d37.24966024223388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf629e7b26108d%3A0x6278853f41be53f1!2s742%20E%20Evergreen%20St%2C%20Springfield%2C%20MO%2065803%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sar!4v1697826672681!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>


    <p class="Descripcion">Nos enorgullece ofrecer soluciones expertas en servicios técnicos para satisfacer todo lo que vos o tu empresa necesita. <br>
        Nuestro equipo de profesionales altamente capacitados está dedicado a proporcionar asistencia confiable y eficiente en la reparación, mantenimiento y optimización de dispositivos electrónicos, computadoras y sistemas informáticos. <br>
        Ya sea que necesites resolver problemas técnicos, recuperar datos perdidos, mejorar el rendimiento de tus equipos o asegurarte de que tu red esté protegida, estamos aquí para ayudarte. <br>
        Nos comprometemos a mantener tus tecnologías funcionando sin problemas, para que puedas concentrarte en lo que más importa. <br>
          <br>
        ¡Confía en nosotros para un servicio técnico excepcional que superará tus expectativas!</p>


    </main>

{% endblock %}